/.ipynb_checkpoints/*
/cc_old/*
/data/*
CURRENT.py
Solution2.py
for_jupyter_v1.py
for_jupyter_v2.py
randomforest.py
trying to undersample.py
tuning.py
.~lock.TEST_FINAL.csv#
checkpoint
full_data_epoch_500_tts_hl500_do3.data-00000-of-00001
full_data_epoch_500_tts_hl500_do3.index
rf.dot